.container ul{
  /*list-style: none;*/
  /*margin: 0;*/
  /*padding: 0;*/
    /*overflow: auto;*/
}

span p{
  color: #AAAAAA;
  /*position: relative;*/
  /*float: left;*/
  /*width: 100%;*/
  /*height: 100px ;*/
  /*height: 100% !important;*/
    /*border-bottom: 1px solid #333;*/
}

span p input[type=radio]{
  /*position: absolute;*/
  visibility: hidden;
  display: none;
}

span p label{
  /*display: block;*/
  position: relative;
  /*font-weight: 300;*/
  text-align: left;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  /*padding: 25px 25px 25px 80px;*/
  /*margin: 10px auto;*/
  /*height: 30px;*/
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

span p:hover label{
    color: #FFFFFF;
}

span p .check{
  /*display: block;*/
  /*position: absolute;*/
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  /*height: 25px;*/
  /*width: 25px;*/
  /*top: 30px;*/
  /*left: 20px;*/
    /*z-index: 5;*/
    /*transition: border .25s linear;*/
    /*-webkit-transition: border .25s linear;*/
}

span p:hover .check {
  border: 5px solid #FFFFFF;
}

span p .check::before {
  /*display: block;*/
  /*position: absolute;*/
    /*content: '';*/
  border-radius: 100%;
  /*height: 15px;*/
  /*width: 15px;*/
  /*top: 5px;*/
    /*left: 5px;*/
  /*margin: auto;*/
    /*transition: background 0.25s linear;*/
    /*-webkit-transition: background 0.25s linear;*/
}

input[name=algorithm]:checked ~ .check {
  border: 5px solid #00e676;
}

input[name=algorithm]:checked ~ .check::before{
  background: #00e676;
}

input[name=algorithm]:checked ~ label{
  color: #00e676;
}