@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*fieldset, label { margin: 0; padding: 0; }*/
/*body{ margin: 20px; }*/
/*h1 { font-size: 1.5em; margin: 10px; }*/

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  /*float: center;*/
  /*text-align: center;*/
  text-align: center !important;
  padding: 0px;
  word-spacing: 0px;
  /*display: inline-block;*/
  /*margin: 0 auto !important;*/

}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #424242;
  float: right;
}

#rating_card {
  /*min-height: 50px !important;*/
  /*padding: 0px;*/
  /*float:left;*/
  /*vertical-align:top;*/
  /*text-align: right !important;*/
  min-height: 37px;
  /*margin: 0 auto;*/
}

#rating_card > div > div {
  min-height: 37px;
}

#rating_card > div > div > p {
  /*display: inline-block;*/
  margin-top: 5.8px;
  font-size: 16px;
}

#rating_card > div > div > fieldset {
  margin-top: 1.2px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #ffb300; -webkit-transition: all 0.15s linear;} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #ffd54f; -webkit-transition: all 0.15s linear;}

