#nav-top {
    margin: 0px auto;
}

#nav-top > li {
    padding-top: 20px;
}

#nav-top > li > a {
    height: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 64px; 
    font-size: 16px;
}

#nav-mobile > li > a {
    vertical-align: middle;
    font-size: 16px;
}

#nav-mobile {
    background-color: #212121;
    color: #fafafa;
}

#nav-mobile > li {
    color: #fafafa;
}

#nav-mobile > li > a {
    color: #fafafa;
}

.dropdown-button {
    color: #fafafa !important;
}

.side-nav li > a > i.material-icons {
    color: #fafafa !important;
}

.brand-logo {
    position: relative;
    height: 104px;
}

#steamrec_logo {
    padding-top: 32px;
    /*width: 240px;*/
    /*height: 40px;*/
}

#steamrec_logo_mini{
    display: none;
}

#nav-button {
    padding-top: 20px;
    color: #fafafa;
}

#header {
    height: 104px;
}

#nav-top > #login {
    padding-top: 0px;
}

.nav-menu > #login > a {
    height: 40px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background-color: #558b2f;
}

.nav-menu > #login > a:hover {
    height: 40px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background-color: #7cb342;
}


#btn_recommend {
    background-color: #ef6c00;
    margin: 0px auto;
}

#btn_recommend:hover {
    background-color: #fb8c00;
}


#div_btn_recommend {
    width: 100%;
    text-align: center;
}

#div_steam_profile {
    width: 100%;
}

.card {
    color: #fafafa;
    background-color: #212121;
    align-self: auto;
}

ul li .collapsible-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 100%;
    /*display: flex;*/
    /*display: auto;*/
}

ul li .collapsible-body #span_alg {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}

ul li .collapsible-body p {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

#main_content {
    display: auto;
    padding-top: 30px;
}

@media all and (min-width: 993px) {
    #main_content {
        display: flex;
    }
    .card-content {
        min-height: 150px;
    }
    .recommend_button {
        padding-bottom: -20px;
    }
}

@media all and (min-width: 1278px) {
    .card-content {
        min-height: 120px;
    }
}

@media all and (min-width: 1802px) {
    .card-content {
        min-height: 95px;
    }
}

.card-image {
    background-size: inherit;
}

#content_row {
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
}

#top_content_block {
    padding-bottom: 22.5px;
    /*flex-direction: column;*/
    margin: 0px auto;
    /*display: flex;*/
}


#rec_options .card ul{
    /*width: 100%;*/
    /*margin: 0px auto;*/
    border: 2px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    border-color: #212121;
    border-bottom-color: #212121 !important;
    margin-top: 0px;
}

#rec_options .card .card-content {
    padding-top: 5px;
    padding-bottom: 5px;
    /*height: 100px !important;*/
    min-height: 100px;
}

#rec_options span p {
    padding: 5px;
}

#rec_options span div {
    padding: 5px;
    padding-left: 20px;
}

.radio-orange[type="radio"]:checked + label:after{
    background-color: #fb8c00;
    color: #fb8c00;
    border-color: #fb8c00;
}

.switch {
    padding-left: 5px !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #fb8c00;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #fb8c00;
}

.switch label{
    font-size: 15px;
}

#big_row {
    width: 100%;
    margin: 0px auto;
}

/*#rec_options .card{
    height: 100px;
}*/

#rec_options .card li div{
    /*width: 100%;*/
    /*margin: 0px auto;*/
    /*border: 1px solid #212121;*/
    border-color: #212121;
    
}

/*#main_content_block {
    flex-direction: column;
    margin: 0px auto;
    
}*/

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: #fafafa;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #fafafa;
    box-shadow: 0 1px 0 0 #000;
    font-size: 20px;
}

.input-field input[type=text] {
    font-size: 20px;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #fafafa;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #d50000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #fafafa;
}

.input-field label {
    font-size: 20px;
}

.input-field label:focus {
    font-size: 16px;
}

.input-field {
    color: #fafafa;

}

.card-action {
    color: #ffa726;
    transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -webkit-transition: color 0.4s;
}

.card-action:hover {
    color: #ffcc80;
}


.home-card:hover {
    box-shadow: 0 4px 5px 0 #ef6c00, 
                0 1px 10px 0 #ff9100, 
                0 2px 4px -1px #ff6d00;
}

#donate {
    height: 40px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background-color: #ef6c00;
}

#donate:hover {
    background-color: #fb8c00;
}


#nav-button {
    position: relative;
    padding-top: 0px !important;
}

.radio-invisible {
    visibility: hidden;
}

nav {
    height: 104px;
    line-height: 104px;
    padding-top: 0px;
    position: relative;
    background-color: #212121;
}


@media screen and (max-width: 992px) {
    nav {
        height: 62px;
    }

    #steamrec_logo_mini {
        display: block;
        padding-top: 19px;
    }

    #steamrec_logo {
        display: none;
    }

    #steamrec_logo_medium {
        display: none;
    }

    .brand-logo {
        height: 62px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1060px) {
    #steamrec_logo {
        display: none;
    }

    #steamrec_logo_mini {
        display: none;
    }

    #steamrec_logo_medium {
        display: block !important;
        padding-top: 36px;
    }
}

@media screen and (min-width: 1047px) {
    #steamrec_logo_medium {
       display: none;
    }
}


@media screen and (max-width: 600px) {
    #menu_icon {
        padding-top: 4px;
    }
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    /*position: fixed;*/
}

main {
    flex: 1 0 auto;
}

.nav-menu > li > a:hover {
   background-color: #424242;
}

nav ul li .dropdown-content a:hover {
    background-color: #e0e0e0;
}

nav ul li .dropdown-content a{
    color: #455a64;
}

footer {
    background-color: #212121 !important;
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1rem;*/
    background-color: #efefef;
    text-align: center;
}

/*.page-footer {
    position: absolute !important;
}*/