{% extends "index.html" %}
{% load staticfiles %}


{% block newgames %}
<link href="{% static 'css/optionsradio.css' %}" rel="stylesheet">

  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
  <div id="main_content" class="container">

      <div id="big_row" class="row">
          <form action="" method="post">{% csrf_token %}
          <input name="pool_id" id="pool_id" type="text" value="{{ pool_id }}" />
<!--           pool_id: {{ pool_id }}
          rating: {{ rating }} -->
          <style> #pool_id { visibility: hidden; } </style>
          <div id="rec_options" class="col s12 l6 offset-l3">
            
              <!-- <div class="row"> -->
                <!-- <div class="col "> -->
                  <div class="card">
                    <div class="card-content white-text">
                      <span class="card-title">OPTIONS</span>
                      <p>There are some options that can improve recommendations.</p>
                    </div>
                      <ul class="collapsible" data-collapsible="expandable">
                        <li>
                          <div class="collapsible-header grey darken-3"><i class="material-icons">settings</i>Algorithm</div>
                          <div class="collapsible-body">
                            <span id="span_alg">
                                <p>
                                  <input name="algorithm" class="radio-orange" type="radio" id="alg_auto" {% if algorithm == 'auto' %} checked {% endif %} value="auto" />
                                  <label for="alg_auto">Auto</label>
                                </p>
                                <p>
                                  <input name="algorithm" class="radio-orange" type="radio" id="alg_cb" {% if algorithm == 'cb' %} checked {% endif %} value="cb" />
                                  <label for="alg_cb">Content-based</label>
                                </p>
                                <p>
                                  <input name="algorithm" class="radio-orange" type="radio" id="alg_ub" {% if algorithm == 'ub' %} checked {% endif %} value="ub" />
                                  <label for="alg_ub">User-based</label>
                                </p>
                                <p>
                                  <input name="algorithm" class="radio-orange" type="radio" id="alg_ib" {% if algorithm == 'ib' %} checked {% endif %} value="ib" />
                                  <label for="alg_ib">Item-based</label>
                                </p>
                                <p>
                                  <input name="algorithm" class="radio-orange" type="radio" id="alg_svd" {% if algorithm == 'svd' %} checked {% endif %} value="svd" />
                                  <label for="alg_svd">SVD</label>
                                </p>

                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header grey darken-3"><i class="material-icons">list</i>Other</div>
                          <div class="collapsible-body">
                            <span>
                              <div class="switch">
                                <label>
                                  Without popular
                                  <input name="popular" type="checkbox" {% if popular %} checked {% endif %}>
                                  <span class="lever"></span>
                                  Popular games
                                </label>

                              </div>
                            </span>
                          </div>
                        </li>
                      </ul>
                  </div>
                <!-- </div> -->
              <!-- </div> -->

          </div>
          <div class="col s12 m12 l12">
            {% include "newgames/recommend.html" %}

          </div>
          </form>
      </div>

  </div>

{% endblock %}