{% load staticfiles %}


{% block user_based %}
<link href="{% static 'css/stars.css' %}" rel="stylesheet">
  <div id="content_row" class="row">
    <div class="col s1 m2 l3"></div>
    <div id="top_content_block" class="col s12 m8 l6">
     
          {% if not steamid %}
          <div id="div_steam_profile" class="input-field col l6">
            
            <input id="steam_profile" type="text" class="validate" name="profile" {% if profile_link %} value="{{ profile_link }}" {% endif %}>
            <label {% if profile_link %} class="active" {% endif %} for="steam_profile">Profile link</label>
            
          </div>
          {% endif %}
          <div id="div_btn_recommend" class="col l6">
            <button type="submit" id="btn_recommend" class="waves-effect waves-light btn">RECOMMEND</button>
          </div>
      
    </div>
    <div class="col s1 m2 l3"></div>
    {% if recommendations %}
      <div class="row">
        {% for app in recommendations %}
          <div id="newgames" class="col s12 m6 l4">
            <a target="_blank" href="http://store.steampowered.com/app/{{ app.appid }}"> <!-- href="{% url 'newgames:index' %}"> -->
              <div class="card">
                <div class="card-image">
                  <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ app.appid }}/header.jpg">
                  <!-- <span class="card-title">NEW GAMES</span> -->
                </div>
                  <!-- <a class="waves-effect waves-light btn">like</a>
                  <a class="waves-effect waves-light btn">dislike</a> -->
                <!-- <div id="{{ app.id }}">{{ app.name }}</div> -->
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
          <div class="col s12 l6 offset-l3">
              <div class="card" id="rating_card">
                <div class="white-text">
                  <div class="col s5 m4 l4">
                  <p>Pool rating</p></div>
                  <div class="col s7 m8 l8">
                  <fieldset class="rating">
                      <input type="radio" id="star5" name="rating" {% if rating == 10 %} checked {% endif %} value="10" onclick="SubmitRating()"/><label class="full" for="star5"></label>
                      <input type="radio" id="star4half" name="rating" {% if rating == 9 %} checked {% endif %} value="9" onclick="SubmitRating()"/><label class="half" for="star4half"></label>
                      <input type="radio" id="star4" name="rating" {% if rating == 8 %} checked {% endif %} value="8" onclick="SubmitRating()"/><label class="full" for="star4"></label>
                      <input type="radio" id="star3half" name="rating" {% if rating == 7 %} checked {% endif %} value="7" onclick="SubmitRating()"/><label class="half" for="star3half"></label>
                      <input type="radio" id="star3" name="rating" {% if rating == 6 %} checked {% endif %} value="6" onclick="SubmitRating()"/><label class="full" for="star3"></label>
                      <input type="radio" id="star2half" name="rating" {% if rating == 5 %} checked {% endif %} value="5" onclick="SubmitRating()"/><label class="half" for="star2half"></label>
                      <input type="radio" id="star2" name="rating" {% if rating == 4 %} checked {% endif %} value="4" onclick="SubmitRating()"/><label class="full" for="star2"></label>
                      <input type="radio" id="star1half" name="rating" {% if rating == 3 %} checked {% endif %} value="3" onclick="SubmitRating()"/><label class="half" for="star1half"></label>
                      <input type="radio" id="star1" name="rating" {% if rating == 2 %} checked {% endif %} value="2" onclick="SubmitRating()"/><label class="full" for="star1"></label>
                      <input type="radio" id="starhalf" name="rating" {% if rating == 1 %} checked {% endif %} value="1" onclick="SubmitRating()"/><label class="half" for="starhalf"></label>
                  </fieldset></div>
                </div>
              </div>
          </div>
      {% endif %}
  </div>

<script type="text/javascript">
  function SubmitRating() {
    $('.ajaxProgress').show();
    $.ajax({
        type: "POST",
        url: "/newgames/",
        dataType: "json",
        async: true,
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            rating: $("input:radio[name=rating]:checked").val(),
            rating_process: true,
            pool_id: $("input:text[name=pool_id]").val(),
            pop: $("input:checkbox[name=popular]:checked").val(),
        },
        success: function(json) {
            $('#output').html(json.message);
            $('.ajaxProgress').hide();
        }
    });
  }
</script>

{% endblock %}