{% extends "index.html" %}
{% load staticfiles %}

{% block home_content %}
  <div id="main_content" class="container row">


      <div id="newgames" class="col s12 m12 l6">
        <a href="{% url 'newgames:index' %}">
          <div class="card home-card">
            <div class="card-image">
              <img src="{% static 'img/new_games2.jpg' %}">
              <!-- <span class="card-title">NEW GAMES</span> -->
            </div>
            <div class="card-content">
              <p>You don't know what to buy? Steam recommender system doesn't show you any good games? Then use this service! You don't need to fill any forms, just press one button!</p>
            </div>
            <div class="card-action">
              <h5 class="recommend_button">NEW GAMES</h5>
            </div>
          </div>
        </a>
      </div>
      
      <div id="playnext" class=" col s12 m12 l6">
        <a href="#">
          <div class="card home-card">
            <div class="card-image">
              <img src="{% static 'img/tags.jpg' %}">
              <!-- <span class="card-title">GAMES BY DESCRIPTION</span> -->
            </div>
            <div class="card-content">
              <p>Try this service if you want to find something new, just describe the game you want to play in couple of sentences.</p>
            </div>
            <div class="card-action">
              <h5 class="recommend_button">COMING SOON</h5><!-- GAMES BY DESCRIPTION -->
            </div>
          </div>
        </a>
      </div>

  </div>
{% endblock %}