{% load staticfiles %}


{% block navbar %}
  <!-- Dropdown Structure -->
  <ul id="drpodown-menu" class="dropdown-content">
    <li><a href="{% url 'newgames:index' %}">NEW GAMES</a></li>
    <!-- <li><a href="/">HOW TO SPEND MY MONEY?</a></li> -->
    <li><a href="/">GAMES BY DESCRIPTION</a></li>
  </ul>

  <ul id="drpodown-menu-mobile" class="dropdown-content">
    <li><a href="{% url 'newgames:index' %}">NEW GAMES</a></li>
    <!-- <li><a href="/">HOW TO SPEND MY MONEY?</a></li> -->
    <li><a href="/">GAMES BY DESCRIPTION</a></li>
  </ul>

  <script type="text/javascript">
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    });
  </script>


  <nav>
    <a href="#" data-activates="nav-mobile" id="nav-button" class="button-collapse"><i id="menu_icon" class="material-icons" style="font-size: 36px">menu</i></a>
    <div class="nav-wrapper">

      <div class="container">
            
            <a href="/" class="brand-logo">
              <img id="steamrec_logo" src="{% static 'img/steamrec_logo2.png' %}" alt="STEAMREC" />
              <img id="steamrec_logo_medium" src="{% static 'img/steamrec_logo_medium.png' %}" alt="STEAMREC" />
              <img id="steamrec_logo_mini" src="{% static 'img/steamrec_logo_mini.png' %}" alt="STEAMREC" />
            </a>


            <ul id="nav-top" class="right hide-on-med-and-down nav-menu">
              <li><a class="dropdown-button" href="/" data-activates="drpodown-menu" data-beloworigin="true">RECOMMEND<i class="material-icons right">arrow_drop_down</i></a></li>
              
              <li><a href="/">ABOUT</a></li>

<!--               {% if steamid %}
              <li><a href="/">PROFILE</a></li>
              {% else %}
              {% endif %}

              {% if not steamid %}
              <li id="login"><a href="/login/" class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="via Steam">LOGIN</a></li>
              {% else %}
              <li id="login"><a href="/logout/" class="waves-effect waves-light btn">LOGOUT</a></li>
              {% endif %} -->
            </ul>

            <ul id="nav-mobile" class="side-nav nav-menu">
              <li><a class="dropdown-button" href="/" data-activates="drpodown-menu-mobile" data-beloworigin="true">RECOMMEND<i class="material-icons right">arrow_drop_down</i></a></li>
              
              <li><a href="/">ABOUT</a></li>

            </ul>


      </div>


    </div>

  </nav>


{% endblock %}